<img src="images/speg03.gif" alt="speg03" class="logo img-circle">
<div class="caption">
  <h3 class="text-primary">
    <span class="glyphicon glyphicon-thumbs-up"></span>
    Social
  </h3>

  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="https://twitter.com/speg03">
        Twitter - @speg03
      </a>
    </div>
    <div class="panel-body">
      <p>
        とりとめのないことをつらつらと書くところ。
      </p>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="https://www.facebook.com/speg03">
        Facebook - Takahiro Yano
      </a>
    </div>
    <div class="panel-body">
      <p>
        リアルな知り合いとつながるところ。
      </p>
    </div>
  </div>

</div>
